.item-wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
}
.item-name{
    flex-basis: 80%;
    font-size: x-large;
}
.item-quantity{
    font-size: x-large;
    color: royalblue;
}