.header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-text{
    letter-spacing: 0.7rem;
    font-size: 3rem;
    color: var(--light-purple);
}
.header-image-wrapper{
    width: 300px;
    height: 300px;
}
.header-image{
    max-width: 100%;
    max-height: 100%;
}
